<form #serieForm="ngForm" (ngSubmit)="putSerie(serieForm.value)">
    <mat-form-field class="form-group" appearance="outline">
        <mat-label for="name">Name</mat-label>
        <input matInput class="form-control" ngModel="{{serie.name}}" name="name">
    </mat-form-field>
    <br>
    <mat-form-field class="form-group" appearance="outline">
        <mat-label for="episodes">Episodes</mat-label>
        <input matInput type="number" class="form-control" ngModel="{{serie.episodes}}" name="episodes" min="0"
            max="9999">
    </mat-form-field>
    <br>
    <mat-form-field class="form-group" appearance="fill">
        <mat-label for="release">Release Date</mat-label>
        <input matInput [matDatepicker]="picker" class="form-control" ngModel={{serie.release}} name="release">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <br>
    <button mat-raised-button color="primary" type="submit">Submit</button>
</form>